/* From 1024px to 1200px */
@media only screen and (max-width: 1200px) {
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }
  .row {
    padding: 0 2%;
  }
}

/* Big tablets: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }
  section {
    padding: 60px 0;
  }
  .long-copy {
    width: 80%;
    margin-left: 10%;
  }
  .steps-box:first-of-type {
    margin-top: 10px;
    text-align: center;
  }
  .steps-box:last-of-type {
    margin-top: 10px;
    padding: 0 10px 0 0;
  }
  .app {
    width: 50%;
  }
  .work-steps {
    margin-bottom: 40px;
  }
  .work-steps:last-of-type {
    margin-bottom: 40px;
  }
  .location h3 {
    height: auto;
    padding: 0;
    margin: 0;
  }
  .location p {
    font-size: 90%;
  }
  .plans {
    width: 100%;
    margin-left: 0;
  }
  .plans p:first-of-type {
    font-size: 200%;
  }
  .contact-form {
    width: 80%;
  }
}

/* Small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }
  section {
    padding: 30px 0;
  }
  .row {
    padding: 0 4%;
  }
  .hero-text-box {
    padding: 0 4%;
    top: 60%;
  }
  .hero-text-box h1 {
    font-size: 180%;
  }
  .mobile-nav-icon {
    display: inline-block;
  }
  .main-nav {
    display: none;
  }
  .main-nav {
    float: left;
    margin-top: 35px;
    margin-left: 25px;
  }
  .main-nav li {
    display: block;
  }
  .main-nav li a:link,
  .main-nav li a:visited {
    display: block;
    border: 0;
    padding: 10px 0;
    font-size: 100%;
  }
  .sticky .main-nav {
    margin-top: 10px;
  }
  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited {
    padding: 10px 0;
    font-size: 90%;
  }
  .sticky .mobile-nav-icon {
    margin-top: 10px;
  }
  .sticky .mobile-nav-icon ion-icon {
    color: black;
  }
  .logo {
    width: 15%;
    height: auto;
  }
  .app {
    width: 40%;
  }
  .btn-app img {
    height: 40px;
    margin-right: 20px;
    -webkit-transform: translateX(60%);
    -ms-transform: translateX(60%);
    transform: translateX(60%);
  }
  h2 {
    font-size: 150%;
  }
  .long-copy {
    width: 100%;
    margin-left: 0;
  }
  .work-steps {
    margin-bottom: 20px;
  }
  .num {
    width: 40px;
    height: 100%;
    margin-right: 15px;
    font-size: 120%;
  }
  .section-features .flex-container {
    display: grid;
  }
  .cities {
    display: grid;
  }
  .location .cities-ionicon {
    margin-right: 0;
    font-size: 100%;
    width: 10%;
  }
  .location h3 {
    margin-left: 25px;
    padding-bottom: 10px;
    font-size: 120%;
  }

  .testimonials {
    margin-top: 0;
  }

  cite {
    margin-top: 20px;
  }
  .testimonials img {
    margin-bottom: 20px;
  }
  .subscription-plan {
    display: grid;
  }
  .col {
    width: 100%;
    margin-left: 0;
  }

  .plans p:last-of-type {
    padding: 10px 0;
  }
  .plans ul {
    padding: 10px 0;
    font-size: 100%;
  }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  .btn-solid {
    margin-left: 15px;
  }
  .btn-app img {
    height: 40px;
    margin-right: 5px;
    -webkit-transform: translateX(20%);
    -ms-transform: translateX(20%);
    transform: translateX(20%);
  }
  h2 {
    font-size: 120%;
  }
  .col {
    margin-bottom: 5px;
  }
}
